<template>
<div>
    <div class="category">
        <ul>
            <nuxt-link tag="li" :to="{ name: 'admin_forum_board' }" exact><a>management</a></nuxt-link>
            <nuxt-link tag="li" :to="{ name: 'admin_forum_topic' }" ><a>post mangament</a></nuxt-link>
        </ul>
    </div>

    <div class="category">
        <span>综合</span>
        <ul>
            <nuxt-link tag="li" :to="{ name: 'admin_common_user' }" ><a>user mangament</a></nuxt-link>
            <nuxt-link tag="li" :to="{ name: 'admin_common_comment' }" ><a>comment mangament</a></nuxt-link>
            <nuxt-link tag="li" :to="{ name: 'admin_common_manage_log' }" ><a> mangament log</a></nuxt-link>
        </ul>
    </div>

</div>
</template>

<style scoped>
.category > span {
    font-weight: bold;
}

.category > ul {
    list-style-type: none;
    padding-left: 0px;
}

.category > ul > li {
    padding: 10px;
}

.category > ul > li.nuxt-link-exact-active {
    font-weight: bold;
}

.category > ul > li.nuxt-link-active {
    font-weight: bold;
}
</style>

<script>
export default {
    data () {
        return {
        }
    }
}
</script>
