<template>
<div class="ic-container">
    <h3 class="ic-header-no-line">notification</h3>
</div>
</template>

<style lang="scss" scoped>
.notif-content {
    margin-top: 10px;
    white-space: nowrap;

    .brief {
        color: lighten($gray-600, 0.4);
        margin-top: 10px;
    }

    .brief2 {
        color: lighten($gray-600, 0.4);
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
</style>

<script>

export default {
    data () {
        return {

        }
    },
    created: async function () {
    },
    methods: {

    },
    components: {
    },
    watch: {
    }
}
</script>
