<template>
<div class="ic-container">
    <span>Login.....</span>

    <div v-title>OAuth</div>
</div>
</template>

<style scoped>

</style>

<script>

export default {
    data () {
        return {}
    },
    beforeCreate () {
        if (this.$route.query.code) { // xx?oauth=xxx
        } else {
            this.$router.replace('/')
        }
    },
    created () {
        this.check(this.$route.query.code)
    },
    methods: {
        check: async function (code) {
            let ret = await this.$api.Oauth.send(code) // 拿到oauth返回的code，交给 api - get_user_data
            if (ret['code'] === this.$api.retcode.SUCCESS) {
                await this.$store.dispatch('user/apiGetUserData', ret.data.id)

                if (this.goLastPage) {
                    this.$message.success('Login Successfully，Directing to Home Page……')
                    this.$router.go(-1)
                } else {
                    this.$message.success('Login Successfully，Directing to Home Page……')
                    this.$router.replace('/')
                    return
                }

                this.$router.replace('/')
            } else if (ret['code'] === -1) {
                this.$router.push({
                    name: 'account_oauth_check',
                    params: {
                        name: 'name',
                        dataObj: ret
                    }
                })
            } else {
            }
        }
    }
}
</script>
