<template>
<div class="ic-container box">
    <div class="login">
        <h3 class="title">Register</h3>
        <form class="ic-form">
            <check-row :results="formErrors.email" :check="(!info.email) || checkEmail" :text="'not valid email'">
                <label for="email">email</label>
                <input class="ic-input" type="email" name="email" id="email" v-model="info.email">
            </check-row>
            <check-row :results="formErrors.nickname" :check="(!info.nickname) || checkNickname" :text="'start with at least 4 alphabet'">
                <label for="nickname">username</label>
                <input class="ic-input" type="text" name="nickname" id="nickname" v-model="info.nickname">
            </check-row>
            <check-row :results="formErrors.password" :check="(!info.password) || checkPassword" :text='checkPasswordText'>
                <label for="password">password</label>
                <input class="ic-input" type="password" name="password" id="password" v-model="info.password">
            </check-row>
            <check-row :results="formErrors.password2" :check="(!info.password2) || checkPassword2" :text="'passwords should be the same'">
                <label for="password2">password again</label>
                <input class="ic-input" type="password" name="password2" id="password2" v-model="info.password2">
            </check-row>
            <check-row :results="formErrors.verify" v-if="0">
                <label for="verify">verify code</label>
                <input class="ic-input" type="text" name="verify" id="verify" v-model="info.verify">
            </check-row>
            <check-row :check="info.agreeLicense">
                <ic-checkbox v-model="info.agreeLicense">
                    <template>agree<a href="javascript:void(0)" @click.stop="dialogLicense = true">license</a></template>
                </ic-checkbox>
            </check-row>
            <div class="ic-form-row">
                <input class="ic-btn success" :class="{ disabled : !info.agreeLicense }" type="submit" @click.prevent="register" value="注 册" style="width: 100%">
            </div>
        </form>
    </div>

    <ic-dialog v-model="dialogLicense" title="user agreement">
        <div>
            <span>content</span>
        </div>
        <div class="bottom">
            <span class="ic-btn primary" @click="dialogLicense = false">confirm</span>
        </div>
    </ic-dialog>

</div>
</template>

<style lang="scss" scoped>
.bottom {
    text-align: right;

    .ic-btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
    }
}

.title {
    color: #444;
    margin-bottom: 20px;
}

.box {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

    padding: 10px 30px;
    border: 1px solid #ddd;
}

.ic-form-row > * {
    width: 100%;
}

.ic-form-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>

<script>

export default {
    data () {
        return {
            info: {
                email: '',
                nickname: '',
                password: '',
                password2: '',
                verify: '',
                agreeLicense: false,
                returning: true
            },
            dialogLicense: false,
            formErrors: {},
            passwordMin: this.$misc.BACKEND_CONFIG.USER_PASSWORD_MIN,
            passwordMax: this.$misc.BACKEND_CONFIG.USER_PASSWORD_MAX
        }
    },
    computed: {
        checkPasswordText: function () {
            return `password length should be ${this.passwordMin}-${this.passwordMax} `
        },
        checkPassword: function () {
            if (this.info.password.length < this.passwordMin) return false
            if (this.info.password.length > this.passwordMax) return false
            return true
        },
        checkPassword2: function () {
            return this.info.password === this.info.password2
        },
        checkNickname: function () {
            return $.checkNickname(this.info.nickname)
        },
        checkEmail: function () {
            return $.checkEmail(this.info.email)
        }
    },
    methods: {
        register: async function () {
            if (!this.info.agreeLicense) {
                return
            }
            if (this.checkPassword && this.checkPassword2 && this.checkEmail && this.checkNickname) {
                this.$store.commit('LOADING_INC', 1)
                let info = _.clone(this.info)
                info.password = await $.passwordHash(info.password)
                info.password2 = await $.passwordHash(info.password2)
                let ret = await this.$api.user.new(info)

                if (ret.code !== this.$api.retcode.SUCCESS) {
                    this.formErrors = ret.data
                    this.$message.byCode(ret.code)
                } else {
                    let userinfo = ret.data
                    if (ret.code === 0) {
                        this.$api.saveAccessToken(userinfo['access_token'])
                        await this.$store.dispatch('user/apiGetUserData', ret.data.id)

                        if (ret.code === this.$api.retcode.SUCCESS) {
                            this.$message.success('Register successfully！')
                        } else {
                            this.$message.byCode(ret.code)
                        }
                    } else {
                        this.$message.error('failed！username has been used')
                    }
                    this.$router.push({ name: 'forum', params: {} })
                }
                this.$store.commit('LOADING_DEC', 1)
            } else {
                this.$message.error('check and complete items')
            }
        }
    },
    components: {
    }
}
</script>
