<template>
<account-signup-legacy v-if="useLegacy" />
<redirecting v-else-if="regDone" :countdown="30">
    <h2>sign up sucessfully</h2>
</redirecting>
<div v-else class="ic-container box">
    <div class="login">
        <h3 class="title">sign up</h3>
        <form class="ic-form">
            <check-row :results="formErrors.email" :check="(!info.email) || checkEmail" :text="'email not valid'">
                <label for="email">email</label>
                <input class="ic-input" type="email" name="email" id="email" v-model="info.email">
            </check-row>
            <check-row :results="formErrors.password" :check="(!info.password) || checkPassword" :text='checkPasswordText'>
                <label for="password">password</label>
                <input class="ic-input" type="password" name="password" id="password" v-model="info.password">
            </check-row>
            <check-row :results="formErrors.password2" :check="(!info.password2) || checkPassword2" :text="'passwords should be same'">
                <label for="password2">password again</label>
                <input class="ic-input" type="password" name="password2" id="password2" v-model="info.password2">
            </check-row>
            <check-row :results="formErrors.verify" v-if="0">
                <label for="verify">verify code</label>
                <input class="ic-input" type="text" name="verify" id="verify" v-model="info.verify">
            </check-row>
            <check-row :check="info.agreeLicense">
                <ic-checkbox v-model="info.agreeLicense">
                    <template>agree <a href="javascript:void(0)" @click.stop="dialogLicense = true">user license</a></template>
                </ic-checkbox>
            </check-row>
            <div class="ic-form-row">
                <input class="ic-btn success" :class="{ disabled : !info.agreeLicense }" type="submit" @click.prevent="register" value="注 册" style="width: 100%">
            </div>
        </form>
    </div>

    <ic-dialog v-model="dialogLicense" title="user license">
        <div>
            <div v-html="signupLicense"></div>
        </div>
        <div class="bottom">
            <span class="ic-btn primary" @click="dialogLicense = false">confirm</span>
        </div>
    </ic-dialog>

</div>
</template>

<style lang="scss" scoped>
.bottom {
    text-align: right;

    .ic-btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
    }
}

.title {
    color: #444;
    margin-bottom: 20px;
}

.box {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

    padding: 10px 30px;
    border: 1px solid #ddd;
}

.ic-form-row > * {
    width: 100%;
}

.ic-form-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>

<script>
import AccountSignupLegacy from '@/views/account/signup_legacy.vue'

export default {
    data () {
        return {
            info: {
                email: '',
                password: '',
                password2: '',
                verify: '',
                agreeLicense: false,
                returning: true // new 之后返回记录
            },
            regDone: false,
            dialogLicense: false,
            formErrors: {},
            passwordMin: this.$misc.BACKEND_CONFIG.USER_PASSWORD_MIN,
            passwordMax: this.$misc.BACKEND_CONFIG.USER_PASSWORD_MAX,
            signupLicense: this.$misc.BACKEND_CONFIG.SIGNUP_LICENSE_HTML
        }
    },
    head () {
        return {
            title: '用户注册',
            meta: [
                { hid: 'description', name: 'description', content: '用户注册' }
            ]
        }
    },
    computed: {
        useLegacy: function () {
            return (!(this.$misc.BACKEND_CONFIG.EMAIL_ACTIVATION_ENABLE))
        },
        checkPasswordText: function () {
            return `应在 ${this.passwordMin}-${this.passwordMax} 个字符之间`
        },
        checkPassword: function () {
            if (this.info.password.length < this.passwordMin) return false
            if (this.info.password.length > this.passwordMax) return false
            return true
        },
        checkPassword2: function () {
            return this.info.password === this.info.password2
        },
        checkEmail: function () {
            let mail = /^\w+((-\w+)|(\.\w+))*@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/
            return mail.test(this.info.email)
        }
    },
    watch: {
        'info.email': function () {
            this.formErrors.email = undefined
        }
    },
    methods: {
        register: async function () {
            if (!this.info.agreeLicense) {
                return
            }
            if (this.checkPassword && this.checkPassword2 && this.checkEmail) {
                this.$store.commit('LOADING_INC', 1)
                let info = _.clone(this.info)
                info.password = await $.passwordHash(info.password)
                info.password2 = await $.passwordHash(info.password2)
                let ret = await this.$api.user.requestSignupByEmail(info)

                if (ret.code === this.$api.retcode.SUCCESS) {
                    this.regDone = true
                } else if (ret.code === this.$api.retcode.INVALID_POSTDATA) {
                    this.formErrors = ret.data
                } else {
                    this.$message.byCode(ret.code, ret.data)
                }

                this.$store.commit('LOADING_DEC', 1)
            } else {
                this.$message.error('请正确填写所有项目')
            }
        }
    },
    components: {
        AccountSignupLegacy
    }
}
</script>
