<template>
<div class="ic-container box">
    <div class="login">
        <h3 class="title">Login</h3>
        <form class="ic-form">
            <check-row :results="formErrors.email" :check="(!info.email) || checkEmail" :text="'email not valid '">
                <label for="email">Email/Usename</label>
                <input class="ic-input" type="email" name="email" id="email" v-model="info.email">
            </check-row>
            <check-row :results="formErrors.password" :check="(!info.password) || checkPassword" :text='checkPasswordText'>
                <label for="password">Password</label>
                <input class="ic-input" type="password" name="password" id="password" v-model="info.password">
            </check-row>
            <div class="ic-form-row">
                <div class="ic-btn success" @click.prevent="login">Login</div>
            </div>
        </form>
    </div>
</div>
</template>

<style scoped>
.title {
    color: #444;
    margin-bottom: 20px;
}

.three-auth {
    display: flex;
    flex-direction: column;
}

.three-auth > .title {
    text-align: center;
}

.three-auth > .title:before, .three-auth > .title:after {
    display: inline-block;
    width: 50px;
    content: " ";
    border-top: 1px solid #ccc;
    vertical-align: middle;
}

.three-auth > .icons {
    display: flex;
    justify-content: center;
}

.three-auth > .icons > .icon {
    border: 1px solid #ccc;
    border-radius: 4px;
    border-style: groove;
}

.three-auth > .icons > .icon:not(:first-child) {
    margin-left: 20px;
}

.lost-poasswrod {
    color: #aaa;
}

.box {
    display: flex;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.ic-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;

    padding: 10px 30px;
    border: 1px solid #ddd;
}

.ic-form-row > * {
    width: 100%;
}

.ic-form-row {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}
</style>

<script>
export default {
    data () {
        return {
            info: {
                email: '',
                password: ''
            },
            goLastPage: false,
            formErrors: {},
            passwordMin: this.$misc.BACKEND_CONFIG.USER_PASSWORD_MIN,
            passwordMax: this.$misc.BACKEND_CONFIG.USER_PASSWORD_MAX
        }
    },
    head () {
        return {
            title: 'User Login Page',
            meta: [
                { hid: 'description', name: 'description', content: 'Login' }
            ]
        }
    },
    computed: {
        checkEmail: function () {
            // let mail = /^\w+((-\w+)|(\.\w+))*@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/
            // return mail.test(this.info.email)
            return true
        },
        checkPasswordText: function () {
            return `password length should be ${this.passwordMin}-${this.passwordMax}`
        },
        checkPassword: function () {
            if (this.info.password.length < this.passwordMin) return false
            if (this.info.password.length > this.passwordMax) return false
            return true
        }
    },
    beforeRouteEnter (to, from, next) {
        next(vm => {
            vm.goLastPage = from.fullPath !== '/'
        })
    },
    methods: {
        login: async function () {
            if (this.checkEmail && this.checkPassword) {
                this.$store.commit('LOADING_INC', 1)
                let ret = await this.$api.user.signin({
                    email: this.info.email,
                    password: await $.passwordHash(this.info.password)
                })
                if (ret.code === this.$api.retcode.SUCCESS) {
                    await this.$store.dispatch('user/apiGetUserData', ret.data.id)
                    localStorage.setItem('current_user', ret.data.id)
                    await this.$store.dispatch('forum/load')

                    if (this.goLastPage) {
                        this.$store.commit('LOADING_DEC', 1)
                        this.$message.success('Login Successfully……')
                        this.$router.go(-1)
                        return
                    } else {
                        this.$store.commit('LOADING_DEC', 1)
                        this.$message.success('Login Successfully, Directing to Home Page……')
                        this.$router.replace('/')
                        return
                    }
                } else {
                    this.formErrors = ret.data
                    this.$message.byCode(ret.code)
                }
                // ret = await this.$api.user.get({username: this.info.username}, 'test')
                // console.log(ret)
                this.$store.commit('LOADING_DEC', 1)
            } else {
                this.$message.error('check and correct items')
            }
        },
        github_url: async function () {
            let ghUrl = await this.$api.Oauth.getUrl('github')
            window.open(ghUrl, '_blank')
            // console.log(ghUrl)
        }
    },
    components: {
    }
}
</script>
