<template>
<div>
    <div class="category">
        <span>User</span>
        <ul>
            <!-- 字典上只见“板块”，这里取为标准写法 -->
            <nuxt-link tag="li" :to="{ name: 'setting_user_me' }" exact><a>Personal Info</a></nuxt-link>
            <nuxt-link v-if="false && isLoginUser" tag="li" :to="{ name: 'setting_user_upload' }" exact><a>My Uploads</a></nuxt-link>
            <nuxt-link v-if="false && isLoginUser" tag="li" :to="{ name: 'setting_user_privacy' }" exact><a>Privacy Settings</a></nuxt-link>
        </ul>
    </div>
</div>
</template>

<style scoped>
.category > span {
    font-weight: bold;
}

.category > ul {
    list-style-type: none;
    padding-left: 0px;
}

.category > ul > li {
    padding: 10px;
}

.category > ul > li.nuxt-link-exact-active {
    font-weight: bold;
}

.category > ul > li.nuxt-link-active {
    font-weight: bold;
}
</style>

<script>

export default {
    data () {
        return {}
    },
    computed: {
        isLoginUser: function () {
            return this.$user.data // && this.$user.data.group >= this.$misc.USER_GROUP.USER
        }
    }
}
</script>
