<template>
<admin-base>
    management dashboard
</admin-base>
</template>

<style scoped>

</style>

<script>
import AdminBase from './base/base.vue'

export default {
    data () {
        return {}
    },
    head () {
        return {
            title: 'management dashboard',
            meta: [
                { hid: 'description', name: 'description', content: 'management dashboard' }
            ]
        }
    },
    components: {
        AdminBase
    }
}
</script>
