<template>
<setting-base>
    <h3 class="ic-header">Personal Info</h3>

    <div class="box">
        <div class="left">
            <div class="lbox">
                <div class="setting-item">
                    <span class="label">Email</span>
                    <div class="line">
                        <span>{{user.email}}</span>
                    </div>
                </div>

                <div class="setting-item">
                    <span class="label">
                        <template>username</template>
                    </span>
                    <div class="line">
                        <span>{{user.nickname}}</span>
                    </div>
                </div>

                <div class="setting-item">
                    <span class="label">Description</span>
                    <div class="line">
                        <textarea class="ic-input commentArea" rows="5" placeholder="" v-model="user.biology" maxLength="255"></textarea>
                    </div>
                </div>

                <div class="setting-item">
                    <span class="label">URL</span>
                    <div class="line">
                        <input type="text" class="ic-input commentArea" rows="5" placeholder="" v-model="user.url" />
                    </div>
                </div>

                <div class="setting-item">
                    <span class="label">City</span>
                    <div class="line">
                        <input type="text" class="ic-input commentArea" rows="5" placeholder="" v-model="user.location" />
                    </div>
                </div>

                <div class="setting-item" v-if="false">
                    <span class="label">Telephone</span>
                    <div class="line">
                        <input type="text" class="ic-input commentArea" rows="5" placeholder="" v-model="user.phone" />
                    </div>
                </div>

                <button class="ic-btn primary" :class="[changed && (!updating) ? '' : 'disabled']" @click="updateInfo">{{ updating ? 'Updating ...' : 'Updating Personal Profile' }}</button>
            </div>
        </div>
        <div class="right">
            <div class="setting-item">
                <div class="line box-avatar" @click="($user.data) ? $dialogs.setUserAvatar(true) : null" >
                    <avatar :is-link="false" :user="$user.data" :size="200" class="avatar"></avatar>
                    <button v-if="$user.data" class="ic-btn primary btn-upload" style="margin-top: 10px; max-width: 200px">Click to upload New Avatar</button>
                </div>
            </div>

            <div class="setting-item">
                <span class="label">Created Time</span>
                <div class="line">
                    <ic-time :ago="false" :timestamp="user.time" />
                </div>
            </div>

            <div class="setting-item">
                <span class="label">Last Login Time</span>
                <div class="line">
                    <ic-time :ago="false" :timestamp="user.key_time" />
                </div>
            </div>

        </div>
    </div>
    <dialog-user-set-nickname />
</setting-base>
</template>

<style scoped>
.box-avatar {
    position: relative;
}

a.resend {
    margin-left: 5px;
}

.box-avatar > .btn-upload {
    bottom: 0;
    position: absolute;
    opacity: 0.7;
    width: calc(100% - 6px);
    margin-right: 3px;
    margin-left: 3px;
}

.lbox {
    width: 85%;
}

.commentArea {
    width: 100%;
}

.setting-item {
    margin-bottom: 20px;
}

.setting-item > .label {
    font-size: 17px;
    font-weight: 500;
    display: block;
    margin-bottom: 6px;
}

.box {
    display: flex;
    flex-direction: row;
}

.box > .left {
    display: flex;
    flex: 3 0 0%;

    /* border: 1px solid #ccc; */
    flex-direction: column;
}

.box > .right {
    flex: 1 0 0%;
}

.right > .rbox {
    margin-left: 20px;
}

.change-nickname {
    color: #777;
    font-size: 14px;
    margin-left: 10px;
    cursor: pointer;
}
</style>

<script>
import SettingBase from '../base/base.vue'

export default {
    data () {
        return {
            sending: false,
            userSave: null,
            updating: false
        }
    },
    head () {
        return {
            title: 'Personal Profile - Settings'
        }
    },
    computed: {
        user: function () {
            if (!this.userSave) {
                this.$set(this, 'userSave', _.clone(this.$user.data))
            }
            return this.userSave
        },
        changed: function () {
            let data = $.objDiff(this.userSave, this.$user.data)
            return Object.keys(data).length
        }
    },
    methods: {
        fetchData: async function () {
        },
        updateInfo: async function () {
            if (this.updating) return
            this.updating = true
            await this.$store.dispatch('user/apiSetUserData', this.user)
            this.updating = false
        }
    },
    created: async function () {
        this.$store.commit('LOADING_INC', 1)
        await this.fetchData()
        this.$store.commit('LOADING_DEC', 1)
    },
    watch: {
        '$route': 'fetchData'
    },
    components: {
        SettingBase
    }
}
</script>
