<template>
<ic-dialog :width="'70%'" v-model="boardManage" :title="` ${board.name} management`" @close="close" scrollable>
    <div class="wrapper ic-form">
        <div class="manage-form-item" style="margin-top: 0px;">
            <span class="label">ID</span>
            <div class="right">{{board.id}}</div>
        </div>
        <div class="manage-form-item">
            <span class="label">creator</span>
            <div class="right">
                <user-link v-if="board.user_id" :user="board.user_id" />
                <div v-else>system</div>
            </div>
        </div>
        <div class="manage-form-item">
            <span class="label">name</span>
            <div class="right">
                <input class="ic-input" type="text" v-model="board.name">
            </div>
        </div>
        <div class="manage-form-item">
            <span class="label">intro</span>
            <div class="right">
                <input class="ic-input" type="text" v-model="board.brief">
            </div>
        </div>
        <div class="manage-form-item">
            <span class="label">weight</span>
            <div class="right">
                <input class="ic-input" type="number" v-model="board.weight">
            </div>
        </div>
        <div class="manage-form-item">
            <span class="label">color</span>
            <div class="right">
                <input class="ic-input" type="text" v-model="board.color">
            </div>
        </div>
        <div class="manage-form-item" style="align-items: center">
            <span class="label">parent board</span>
            <div class="right">
                <multiselect v-model="board.parent_id" :allow-empty="true" :options="boardList" :custom-label="getSelectOptionName" placeholder="select a topic" style="z-index: 2; width: 70%;" open-direction="bottom"></multiselect>
            </div>
        </div>
        <div class="manage-form-item" style="align-items: center">
            <span class="label">status</span>
            <div class="right" style="display: flex">
                <span style="margin-right: 10px" v-for="(i, j) in POST_STATE_TXT" :key="j">
                    <label :for="'radio-state-'+i">
                        <input class="ic-input" type="radio" name="state" :value="j" :id="'radio-state-'+i" v-model="board.state" />
                        <span>{{i}}</span>
                    </label>
                </span>
            </div>
        </div>

        <div class="manage-form-item" style="align-items: center">
            <span class="label">authorization</span>
            <div class="right">
                <span style="margin-right: 10px">
                    <label :for="'radio-can_post_rank-0'">
                        <input class="ic-input" type="radio" name="can-post-rank" :value="0" :id="'radio-can_post_rank-0'" v-model="board.can_post_rank" />
                        <span>user</span>
                    </label>
                </span>
                <span style="margin-right: 10px">
                    <label :for="'radio-can_post_rank-100'">
                        <input class="ic-input" type="radio" name="can-post-rank" :value="100" :id="'radio-can_post_rank-100'" v-model="board.can_post_rank" />
                        <span>admin</span>
                    </label>
                </span>
            </div>
        </div>
        <div class="manage-form-item" style="align-items: center">
            <span class="label">Notice</span>
            <div class="right">
                <textarea class="ic-input" rows="3" v-model="board.desc" />
            </div>
        </div>

        <div class="bottom manage-form-item" style="margin: 20px 0">
            <span class="label"></span>
            <div class="right">
                <span class="ic-btn primary" @click="ok">confirm</span>
                <span class="ic-btn secondary" @click="close">cancel</span>
            </div>
        </div>
    </div>
</ic-dialog>
</template>

<style lang="scss" scoped>
.wrapper {
    height: 70vh;
}

.ic-input[type=text], .ic-input[type=number], textarea.ic-input {
    width: 70%;
}

.bottom {
    .ic-btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 10px;
    }
}
</style>

<script>
import Multiselect from 'vue-multiselect'
import { mapState, mapGetters } from 'vuex'
import 'vue-multiselect/dist/vue-multiselect.min.css'
import '@/assets/css/_manage.scss'

export default {
    data () {
        return {
            value: 1,
            save: {},
            board: { name: '' },
            boardList: [],
            boardsInfoDict: {}
        }
    },
    computed: {
        ...mapState('dialog', [
            'boardManage',
            'boardManageData'
        ]),
        ...mapGetters([
            'POST_STATE_TXT',
            'POST_VISIBLE_TXT'
        ])
    },
    methods: {
        getSelectOptionName (id) {
            if (!this.boardsInfoDict[id]) return 'none'
            let { name, brief } = this.boardsInfoDict[id]
            return `${name} — [${brief}]`
        },
        handleChange (value) {
            this.value = value
        },
        ok: async function () {
            let data = $.objDiff(this.board, this.save)

            if (Object.keys(data).length === 0) {
                return this.quit()
            }

            let keys = new Set(['brief', 'category', 'desc', 'name', 'state', 'weight', 'color', 'parent_id', 'visible', 'can_post_rank'])
            let ret = await this.$api.board.set({ id: this.board.id }, data, this.$user.mainRole, keys)

            if (ret.code === 0) {
                if (this.boardManageData) {
                    this.$store.commit('dialog/WRITE_BOARD_MANAGE_DATA', data)
                }
                await this.$store.dispatch('forum/load')
                this.$message.success('set succesfully')
            } else this.$message.byCode(ret.code)

            this.quit()
        },
        quit () {
            this.$store.commit('dialog/SET_BOARD_MANAGE', { val: false })
        },
        close () {
            this.quit()
        }
    },
    watch: {
        'boardManage': async function (val) {
            if (val) {
                let info = await this.$api.board.get({
                    id: this.boardManageData.id,
                    loadfk: { 'user_id': null }
                }, this.$user.mainRole)

                if (info.code === this.$api.retcode.SUCCESS) {
                    this.board = info.data
                    this.save = _.clone(this.board)

                    let ret = await this.$api.board.list({
                        order: 'weight.desc,time.asc'
                    }, 1, null, this.$user.mainRole)
                    if (ret.code === this.$api.retcode.SUCCESS) {
                        this.boardList = []
                        this.boardsInfoDict = {}
                        for (let i of ret.data.items) {
                            if (i.id !== this.board.id) {
                                this.boardList.push(i.id)
                                this.boardsInfoDict[i.id] = i
                            }
                        }
                    }
                } else {
                    this.$message.byCode(info.code)
                }
            }
        }
    },
    components: {
        Multiselect
    }
}
</script>
