<template>
<ic-dialog v-model="siteNew" :title="`intro`" scrollable :allow-outside-close="false">
    <div>
        <div>first,<nuxt-link :to="{ name: 'account_signup' }">register an acoount</nuxt-link>.</div>
        <div><b>the first user</b>will be<b>admin</b></div>
        <div>second,<nuxt-link :to="{ name: 'admin_forum_board' }"><a>go to management</a></nuxt-link>to add topics.</div>
    </div>
    <div class="bottom">
        <span class="ic-btn primary" @click="ok">confirm</span>
    </div>
</ic-dialog>
</template>

<style lang="scss" scoped>
.bottom {
    text-align: right;

    .ic-btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
    }
}
</style>

<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {}
    },
    computed: {
        ...mapState('dialog', [
            'siteNew'
        ])
    },
    methods: {
        ok: async function () {
            this.$store.commit('dialog/SET_SITE_NEW', { val: false })
        }
    }
}
</script>
