<template>
<ic-dialog v-model="topicManage" :title="`management ${topic.title} `" @close="closeOutside">
    <div v-if="stage == 1">
        <div class="manage-form-item">
            <span class="label">
                <nuxt-link :to="{ name: 'forum_topic_edit', params: {id: topic.id}, query: {manage: true} }">edit post</nuxt-link>
            </span>
            <div class="right">
            </div>
        </div>
        <div class="manage-form-item">
            <span class="label">recommendation level</span>
            <div class="right">
                <span style="margin-right: 10px" v-for="i in [0, 1, 2, 3, 4, 5]" :key="i">
                    <label :for="'radio-sticky-'+i">
                        <input class="ic-input" type="radio" name="sticky" :value="i" :id="'radio-sticky-'+i" v-model="vSticky" />
                        <span>{{i}}</span>
                    </label>
                </span>
            </div>
        </div>
    </div>
    <div v-else></div>

    <div class="bottom">
        <span class="ic-btn primary" v-if="stage <= 2" @click="next">confirm</span>
        <span class="ic-btn secondary" v-if="stage <= 2" @click="close">cancel</span>
        <span class="ic-btn primary" v-if="stage === 4" @click="close">complete</span>
    </div>
</ic-dialog>
</template>

<style lang="scss" scoped>
.manage-form-item {
    margin-bottom: 15px;
}

.bottom {
    text-align: right;

    .ic-btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
    }
}
</style>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
    data () {
        return {
            save: { title: '' },
            vSticky: '0',
            vWeight: 0,
            vCredit: 0,
            vState: '0',
            vVisible: 0,
            vRepute: 0,
            vAwesome: false,
            stage: 1,
            currentApply: 0,
            applyValue: 0
        }
    },
    computed: {
        ...mapState('dialog', [
            'topicManage',
            'topicManageData'
        ]),
        ...mapGetters([
            'POST_TYPES',
            'POST_TYPES_TXT',
            'POST_STATE_TXT',
            'POST_VISIBLE_TXT'
        ]),
        topic: function () {
            return this.save
        },
        changed: function () {
            let change = {}
            let topic = this.save
            if (parseInt(this.vSticky) !== topic.sticky_weight) {
                change.vSticky = [topic.sticky_weight, parseInt(this.vSticky)]
            }
            if (this.vWeight !== 0) {
                change.vWeight = [0, this.vWeight]
            }
            if (this.vCredit !== 0) {
                change.vCredit = [0, this.vCredit]
            }
            if (parseInt(this.vState) !== topic.state) {
                change.vState = [topic.state, parseInt(this.vState)]
            }
            if (this.vVisible !== topic.visible) {
                change.vVisible = [topic.visible, this.vVisible]
            }
            if (this.vRepute !== 0) {
                change.vRepute = [0, this.vRepute]
            }
            if (this.vAwesome !== Boolean(topic.awesome)) {
                change.vAwesome = [false, this.vAwesome]
            }
            return change
        }
    },
    methods: {
        next: async function () {
            this.stage++
            if (this.stage === 3) {
                let change = this.changed

                let i = 0
                let len = Object.keys(change).length

                let updateOne = () => {
                    this.currentApply = i++
                    this.applyValue = this.currentApply * 100.0 / len
                }

                if (change.vSticky) {
                    updateOne()
                    let ret = await this.$api.topic.set({ id: this.topic.id }, { 'sticky_weight': change.vSticky[1] }, this.$user.mainRole)
                    if (ret.code === 0) this.$message.success('文章置顶设置成功')
                    else this.$message.byCode(ret.code)
                }

                if (change.vWeight) {
                    updateOne()
                    let ret = await this.$api.topic.set({ id: this.topic.id }, { 'weight.incr': change.vWeight[1] }, this.$user.mainRole)
                    if (ret.code === 0) this.$message.success('提升/下沉设置成功')
                    else this.$message.byCode(ret.code)
                }

                if (change.vState) {
                    updateOne()
                    let ret = await this.$api.topic.set({ id: this.topic.id }, { state: change.vState[1] }, this.$user.mainRole)
                    if (ret.code === 0) this.$message.success('文章状态修改成功')
                    else this.$message.byCode(ret.code)
                }

                if (change.vVisible) {
                    updateOne()
                    let ret = await this.$api.topic.set({ id: this.topic.id }, { visible: change.vVisible[1] }, this.$user.mainRole)
                    if (ret.code === 0) this.$message.success('文章可见性修改成功')
                    else this.$message.byCode(ret.code)
                }

                if (change.vCredit) {
                    updateOne()
                    let ret = await this.$api.user.set({ id: this.topic.user_id }, {
                        'credit.incr': change.vCredit[1],
                        '$src': JSON.stringify({
                            'id': this.topic.id,
                            'type': this.POST_TYPES.TOPIC
                        })
                    }, this.$user.mainRole)
                    if (ret.code === 0) this.$message.success('加分/扣分设置成功')
                    else this.$message.byCode(ret.code)
                }

                // done
                this.currentApply = -1
                this.applyValue = 100
                this.stage = 4
            }
        },
        closeOutside () {
            if (this.stage === 1) this.close()
        },
        close () {
            if (this.stage === 2) this.stage = 1
            else this.$store.commit('dialog/SET_TOPIC_MANAGE', { val: false })
            if (this.stage === 4) {
                this.$router.go(0)
            }
        }
    },
    watch: {
        'topicManage': async function (val) {
            if (val) {
                let info = await this.$api.topic.get({
                    id: this.topicManageData.id
                }, this.$user.mainRole)

                if (info.code === this.$api.retcode.SUCCESS) {
                    this.save = info.data
                    let topic = info.data
                    this.vSticky = topic.sticky_weight
                    this.vState = topic.state
                    this.vVisible = topic.visible
                    this.vAwesome = Boolean(topic.awesome)
                    this.stage = 1
                } else {
                    this.$message.byCode(info.code, info)
                }
            }
        }
    }
}
</script>
