<template>
<ic-dialog v-model="userSignout" :width="'500px'" :title="`sign out`">
    <div class="main">
        <i class="icarus icon-question-circle icon"></i>
        <div>confirm to sign out？</div>
    </div>
    <div class="bottom">
        <span class="ic-btn primary" @click="ok">
            <template v-if="quiting">signing out ...</template>
            <template v-else>confirm to sign out</template>
        </span>
        <span class="ic-btn secondary" @click="close">cancel</span>
    </div>
</ic-dialog>
</template>

<style lang="scss" scoped>
.icon {
    font-size: 80px;
    line-height: 90px;
}

.main {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
}

.bottom {
    text-align: center;

    .ic-btn {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 10px;
    }
}
</style>

<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {
            quiting: false
        }
    },
    computed: {
        ...mapState('dialog', [
            'userSignout'
        ])
    },
    methods: {
        ok: async function () {
            if (this.quiting) return
            this.quiting = true
            await this.$store.dispatch('user/apiSignout')
            await this.$store.dispatch('forum/load')
            this.$router.replace('/')
            this.quiting = false
            this.$dialogs.setUserSignout(false)
        },
        close: async function () {
            this.$dialogs.setUserSignout(false)
        }
    }
}
</script>
