<template>
<ic-dialog v-if="$user.data" v-model="userInactive" :title="`not preparing……`" scrollable>
    <div>
        <div>your account needs to<b>be activated</b></div>
       </div>
    <div class="bottom">
        <span class="ic-btn primary" @click="ok">confirm</span>
    </div>
</ic-dialog>
</template>

<style lang="scss" scoped>
.bottom {
    text-align: right;

    .ic-btn {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
    }
}
</style>

<script>
import { mapState } from 'vuex'

export default {
    data () {
        return {
            sending: false
        }
    },
    computed: {
        ...mapState('dialog', [
            'userInactive'
        ])
    },
    methods: {
        ok: async function () {
            this.$dialogs.setUserInactive(false)
        },
        resendActivationMail: async function () {
            this.sending = true
            await $.timeout(1000) // 先留着吧，我觉得一点即出结果体验也不好
            let ret = await this.$api.user.resendActivationMail()
            if (ret.code === this.$api.retcode.SUCCESS) {
                this.$message.success('激活邮件发送成功！请检查邮箱。')
            } else {
                this.$message.error('发送失败，每30分钟只能发送一次。')
            }
            this.sending = false
        }
    }
}
</script>
