<template>
<admin-base>
    <h3 class="ic-header">user mangament </h3>

    <div class="search-box">
        <input type="text" class="ic-input" v-model.trim="searchTxt" @keyup.enter="doSearch()" placeholder="search username/uid" />
        <span @click="doSearch()" class="ic-btn primary search-btn">search</span>
    </div>
    <div>
        <ul class="ic-collection" v-if="page.items">
            <li class="item ic-collection-item" v-for="i in page.items" :key="i.id">
                <avatar :user="i" class="avatar" />
                <div class="right">
                    <user-link :user="i" />
                    <div class="info">
                        <span>created at <ic-time :ago="false" :timestamp="i.time" /></span> ·
                        <span>{{$misc.USER_GROUP_TXT[i.group]}}</span> ·
                        <span>{{$misc.POST_STATE_TXT[i.state]}}</span> ·
                        <i class="ic-topic-manage-icon icarus icon-39" title="management" @click="$dialogs.setUserManage(true, i)"></i>
                    </div>

                </div>
            </li>
        </ul>
        <div v-else>no data</div>
    </div>
    <paginator :page-info='page' :route-name='"admin_common_user"' />
</admin-base>
</template>

<style scoped>
.item {
    display: flex;
}

.item > .right {
    padding-left: 10px;
}

.search-box {
    flex: 1;
    align-items: center;
    display: flex;
}

.search-box > input {
    width: 40%;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.search-box > .search-btn {
    margin-left: 10px;
}
</style>

<script>
import swal from 'sweetalert2'
import AdminBase from '../base/base.vue'

export default {
    data () {
        return {
            searchTxt: '',
            page: {}
        }
    },
    head () {
        return {
            title: 'user mangament',
            meta: [
                { hid: 'description', name: 'description', content: 'user mangament' }
            ]
        }
    },
    methods: {
        doSearch: async function () {
            let found = false
            let role = this.$user.mainRole

            if ($.regex.email.test(this.searchTxt)) {
                let retList = await this.$api.user.list({ email: this.searchTxt, order: 'id.desc' }, 1, null, role)
                if (retList.code === this.$api.retcode.SUCCESS) {
                    this.page = retList.data
                    found = true
                }
            } else {
                if ($.regex.nickname.test(this.searchTxt)) {
                    let retList = await this.$api.user.list({ nickname: this.searchTxt, order: 'id.desc' }, 1, null, role)
                    if (retList.code === this.$api.retcode.SUCCESS) {
                        this.page = retList.data
                        found = true
                    }
                }
                if ($.regex.id.test(this.searchTxt)) {
                    let retList = await this.$api.user.list({ id: this.searchTxt, order: 'id.desc' }, 1, null, role)
                    if (retList.code === this.$api.retcode.SUCCESS) {
                        if (found) {
                            this.page.items.push(retList.data.items[0])
                        } else {
                            this.page = retList.data
                        }
                        found = true
                    }
                }
            }
            if (!found) {
                this.page = {}
            }
        },

        fetchData: async function () {
            let params = this.$route.params
            let retList = await this.$api.user.list({
                order: 'id.desc'
            }, params.page, null, this.$user.mainRole)
            if (retList.code === this.$api.retcode.SUCCESS) {
                this.page = retList.data
            }
        }
    },
    created: async function () {
        this.$store.commit('LOADING_INC', 1)
        await this.fetchData()
        this.$store.commit('LOADING_DEC', 1)
    },
    watch: {
        // 如果路由有变化，会再次执行该方法
        '$route': 'fetchData'
    },
    components: {
        AdminBase
    }
}
</script>
