<template>
<div class="ic-tab" :class="[isActive ? 'active' : '']" @click="doActive">
    <span class="text">{{title}}</span>
</div>
</template>

<style lang="scss" scoped>
.ic-tab {
    user-select: none;
    outline: none;
    cursor: pointer;

    padding: 10px 30px 12px 30px;
}
</style>

<script>
export default {
    props: {
        title: {
            type: String
        },
        value: {
            type: String
        }
    },
    data () {
        return {}
    },
    computed: {
        isActive: function () {
            return this.getCurrentActive() === this.value
        }
    },
    created: function () {

        this.addTab(this)
    },
    inject: ['setActive', 'getCurrentActive', 'addTab'],
    methods: {
        doActive: function () {
            this.setActive(this.value)
        }
    }
}
</script>
